@keyframes h1Left {
  0% {
    transform: translate(-391px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes h1Left {
  0% {
    -moz-transform: translate(-391px, 0px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes h1Left {
  0% {
    -webkit-transform: translate(-391px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes h1Left {
  0% {
    -o-transform: translate(-391px, 0px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes h1Left {
  0% {
    -ms-transform: translate(-391px, 0px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
@keyframes h1Right {
  0% {
    transform: translate(324px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes h1Right {
  0% {
    -moz-transform: translate(324px, 0px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes h1Right {
  0% {
    -webkit-transform: translate(324px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes h1Right {
  0% {
    -o-transform: translate(324px, 0px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes h1Right {
  0% {
    -ms-transform: translate(324px, 0px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
@keyframes pageTopDown {
  0% {
    opacity: 0;
    transform: translate(0px, 127px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes pageTopDown {
  0% {
    opacity: 0;
    -moz-transform: translate(0px, 127px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes pageTopDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 127px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes pageTopDown {
  0% {
    opacity: 0;
    -o-transform: translate(0px, 127px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes pageTopDown {
  0% {
    opacity: 0;
    -ms-transform: translate(0px, 127px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px);
  }
}
