html,
body {
    background-color: @outerSpace;
    color: @paleBlue;
    font-family: @font;
    .alignSpread(space-between, center, center);
    margin: 0 auto;
    padding: 0;
    font-size: 62.5%;
    overflow-x: hidden;
}

// whole page container
.container {
    width: 96%;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

// container holding the individual pages (features, support, about, etc)
#mainPage {
    .alignSpread(center, center, center);
}

// bootstrap row
.row {
    margin: 0;
}

// font settings
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

a {
    color: @paleRed;

    &:hover {
        color: @debianRed;
    }
}

img {
    max-width: 100%;
}

// individual clicked-to pages settings (features, support, about, etc)
.page {
    display: none;
    .pageAnimation(0s);
    overflow-y: hidden;
    justify-content: center;
    width: 70%;

    #mainPageH1l {
        text-align: center;
        justify-content: center;

        h2 {
            text-align: center;
            justify-content: center;
        }

    }
}

// deep red h1, alternating colors
.altH1 {
    color: @debianRed;
    .alignSpread(right, center, center);
}

.mainH1 {
    .alignSpread(center, center, center);
}

.mainH {
    width: 100%;
}

.mainPage {
    justify-content: center;
}

// different page sections of the upper half

//from top header to next headline
#content1 {
    .mainContentAnimation(h1Left, 0s);

    h1 {
        margin: 0 0 0 8%;
    }
}

// second is red h1 + pic
#content2 {
    .mainContentAnimation(h1Right, 3s);

    h1 {
        margin: 0 20% 0 0;
    }
}

// third is 'trust us' heading only
#content3 {
    .alignSpread(center, center, center);
    .mainContentAnimation(h1Left, 6s);
    margin: 5% 0 5% 0;
}

// fourth is picture + 'and you won't
#content4 {
    .alignSpread(space-evenly, center, center);
    margin: 2% 0 2% 0;
    flex-wrap: wrap;
    .mainContentAnimation(h1Right, 8s);

    img {
        margin: 0 0 0 10%;
        max-height: 650px;
    }

    h1 {
        align-items: center;
        height: 100%;
    }

    .content4c {
        width: 100%;

        h1 {
            margin: 13% 0 13% 15%;
            justify-content: left;
            align-items: left;
        }
    }
}

// fifth is 'download' heading only
#content5 {
    text-align: center;
    .mainContentAnimation(h1Left, 10s);

    h1 {
        color: @debianRed;
        .alignSpread(center, center, center);
    }
}

.aboutRow {
    .alignSpread(center, center, center);
}

// these all correspond with a link in the header that, when clicked, will load this page in place of 'features', which is what loads automatically.
#about {
    overflow-x: hidden;

    .aboutRow {
        flex-wrap: nowrap;
    }

    // alignment for right-aligned rows 2, 4, 6
    .teamRight {
        .alignSpread(right, right, right);
        flex-wrap: wrap;
    }

    #jOmollo,
    #cFletcher,
    #sHabib {
        .mainContentAnimation(h1Left, 0s);
    }

    #bJoshua,
    #jCovo,
    #eIngram {
        .mainContentAnimation(h1Right, 0s);
    }
}

#features {
    margin-bottom: 10%;

    //to-do list in #features
    .featureAlt {
        text-align: left;
        justify-content: left;
    }

    //container holding to-do list
    .checkList {
        width: 100%;
        margin: 0 0 0 10%;
    }

    // box that gets checked
    .sqCheck {
        border: 1px solid @lightCoal;
        border-radius: 10px;
        max-width: 5%;
        max-height: 45px;
    }
}

#faq {
    width: 100%;
    font-size: 3rem;
    font-family: @altFont;

    // this uses bootstrap accordion
    .panel-default {
        .alignSpread(left, left, left);
        margin: 2.5% 0 2.5% 0;
        flex-wrap: wrap;
    }

    .panel-heading {
        width: 100%;
    }

    .panel-group {
        width: 80%;
        flex-wrap: wrap;
    }
}

#login {
    width: 70%;
    margin: 5%;

    input {
        font-family: @altFont;
    }

    //login heading
    .mainH {
        justify-content: center;
    }
}

.btn {
    .btnMixin(center, center, 10px);
}

#support {


    input {
        font-family: @altFont;
    }
}