// Navigation Styles here

.header,
.footer {
	.alignSpread(space-between, center, center);
	margin: 0;

	a {
		font-size: 3rem;
	}
}

.headerNav {
	.alignSpread(space-around, center, center);
	flex-wrap: wrap;
	margin: 0.5%;
}

.companyName {
	.alignSpread(center, center, center);
}
